<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portal | Error</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Favicon -->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    @*<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />*@

    <!-- Bootstrap Core Css -->
    <link href="~/Assets/plugins/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <!-- Font Awesome Css -->
    <link href="~/Assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/Assets/css/style.css" rel="stylesheet" />
</head>
<body style="background-color: white;">

        @RenderBody()

</body>
</html>
