
@{
    Layout = "~/Views/Error/_LayoutError.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline" style="color: #F44336;"> 505</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning" style="color: #F44336;"></i> Acceso Denegado.</h3>

            <p>
                Usted, no tiene permiso para acceder a esta pagina!!!
            </p>
            <a class="btn btn-info" href="~/"><i class="fa fa-home"></i> Ir a Menu Principal</a>

        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>
<!-- /.content -->
