
@{
    Layout = "~/Views/Error/_LayoutError.cshtml";
}

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="error-box">
                <h1 style="color: #111344;">404</h1>
                <h3>Lo sentimos, pero no pudimos encontrar esta página.</h3>
                <div class="info">
                   
                    <p>
                        Usted, ha intentado acceder a una pagina que no existe, por favor regrese
                        a la pagina principal.
                    </p>
                </div>
                <a class="btn btn-primary" href="~/"><i class="fa fa-home"></i> Ir a Menu Principal</a>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>

